Repository PostyFox/postyfox-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
    "*.ts": ["prettier --write", "eslint"],
    "*.js": ["prettier --write", "eslint"],
    "*.html": ["prettier --write"],
    "*.css": ["prettier --write"]
}

Angular patching
  package-lock.json
  package.json
Due: none

Angular patching (#249)
  package-lock.json
  package.json
Due: none

Cleanup
  .github/workflows/release.yml
  Dockerfile
  README.md
  deploy/docker-compose.frontend.server.yml
  deploy/docker-compose.frontend.yml
  deploy/gateway/conf.d/routes/90-root.conf
  deploy/gateway/conf.d/upstreams/frontend.conf
  docs/DEPLOYMENT.md
  docs/OBSERVABILITY.md
  nginx.conf
  scripts/set-version.mjs
  src/app/core/interceptors/auth.interceptor.ts
  src/app/core/models/api.models.ts
  src/app/core/models/platforms.ts
  src/app/core/models/status.util.ts
  src/app/core/services/connectors.service.ts
  src/app/core/services/deployment-config.service.ts
  src/app/core/services/media.service.ts
  src/app/core/services/posts.service.ts
  src/app/core/services/profile.service.ts
  src/app/core/services/services.service.ts
  src/app/core/services/tag-presets.service.ts
  src/app/core/services/templates.service.ts
  src/app/core/services/text-templates.service.ts
  src/app/core/services/triggers.service.ts
  src/app/core/telemetry/browser-telemetry.ts
  src/app/features/compose/compose.component.ts
  src/app/features/connectors/connectors.component.ts
  src/app/features/posts/posts.component.ts
  src/app/features/privacy-policy/privacy-policy.component.ts
  src/app/features/text-templates/text-templates.component.ts
  src/app/shared/components/descriptor-field.component.ts
  src/environments/environment.dev.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/styles.scss
  src/styles/_materio-variables.scss
  src/version.ts
Due: prettier --write, eslint

Cleanup (#254)
  .github/workflows/release.yml
  Dockerfile
  README.md
  deploy/docker-compose.frontend.server.yml
  deploy/docker-compose.frontend.yml
  deploy/gateway/conf.d/routes/90-root.conf
  deploy/gateway/conf.d/upstreams/frontend.conf
  docs/DEPLOYMENT.md
  docs/OBSERVABILITY.md
  nginx.conf
  scripts/set-version.mjs
  src/app/core/interceptors/auth.interceptor.ts
  src/app/core/models/api.models.ts
  src/app/core/models/platforms.ts
  src/app/core/models/status.util.ts
  src/app/core/services/connectors.service.ts
  src/app/core/services/deployment-config.service.ts
  src/app/core/services/media.service.ts
  src/app/core/services/posts.service.ts
  src/app/core/services/profile.service.ts
  src/app/core/services/services.service.ts
  src/app/core/services/tag-presets.service.ts
  src/app/core/services/templates.service.ts
  src/app/core/services/text-templates.service.ts
  src/app/core/services/triggers.service.ts
  src/app/core/telemetry/browser-telemetry.ts
  src/app/features/compose/compose.component.ts
  src/app/features/connectors/connectors.component.ts
  src/app/features/posts/posts.component.ts
  src/app/features/privacy-policy/privacy-policy.component.ts
  src/app/features/text-templates/text-templates.component.ts
  src/app/shared/components/descriptor-field.component.ts
  src/environments/environment.dev.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/styles.scss
  src/styles/_materio-variables.scss
  src/version.ts
Due: prettier --write, eslint

Dep updates
  package-lock.json
  package.json
Due: none

Dep updates (#255)
  package-lock.json
  package.json
Due: none

Fix tests, add spec for uploads
  package-lock.json
  package.json
  src/app/features/compose/compose.component.spec.ts
Due: prettier --write, eslint

Fix tests, add spec for uploads (#256)
  package-lock.json
  package.json
  src/app/features/compose/compose.component.spec.ts
Due: prettier --write, eslint

Allow default tag configuration on connectors, as well as ratings
  src/app/core/models/api.models.ts
  src/app/core/models/platforms.ts
  src/app/features/compose/compose.component.html
  src/app/features/compose/compose.component.spec.ts
  src/app/features/compose/compose.component.ts
  src/app/features/connectors/connectors.component.html
  src/app/features/connectors/connectors.component.ts
  src/app/features/post-status/post-status.component.html
  src/app/features/post-status/post-status.component.ts
Due: prettier --write, eslint

Allow default tag configuration on connectors, as well as ratings (#262)
  src/app/core/models/api.models.ts
  src/app/core/models/platforms.ts
  src/app/features/compose/compose.component.html
  src/app/features/compose/compose.component.spec.ts
  src/app/features/compose/compose.component.ts
  src/app/features/connectors/connectors.component.html
  src/app/features/connectors/connectors.component.ts
  src/app/features/post-status/post-status.component.html
  src/app/features/post-status/post-status.component.ts
Due: prettier --write, eslint

Improved media handling and feedback
  src/app/core/models/api.models.ts
  src/app/core/services/media.service.ts
  src/app/features/compose/compose.component.html
  src/app/features/compose/compose.component.spec.ts
  src/app/features/compose/compose.component.ts
Due: prettier --write, eslint

Improved media handling and feedback (#263)
  src/app/core/models/api.models.ts
  src/app/core/services/media.service.ts
  src/app/features/compose/compose.component.html
  src/app/features/compose/compose.component.spec.ts
  src/app/features/compose/compose.component.ts
Due: prettier --write, eslint

Let me delete stuff
  src/app/core/models/api.models.ts
  src/app/core/services/posts.service.ts
  src/app/features/posts/posts.component.html
  src/app/features/posts/posts.component.ts
Due: prettier --write, eslint

Let me delete stuff (#264)
  src/app/core/models/api.models.ts
  src/app/core/services/posts.service.ts
  src/app/features/posts/posts.component.html
  src/app/features/posts/posts.component.ts
Due: prettier --write, eslint

WIP: Automation Phase 1
  src/app/core/models/api.models.ts
  src/app/core/models/platforms.ts
  src/app/core/services/posts.service.ts
  src/app/features/compose/compose.component.html
  src/app/features/compose/compose.component.spec.ts
  src/app/features/compose/compose.component.ts
  src/app/features/post-status/post-status.component.html
  src/app/features/post-status/post-status.component.ts
  src/app/features/posts/posts.component.html
Due: prettier --write, eslint

WIP: Automation Phase 1 (#265)
  src/app/core/models/api.models.ts
  src/app/core/models/platforms.ts
  src/app/core/services/posts.service.ts
  src/app/features/compose/compose.component.html
  src/app/features/compose/compose.component.spec.ts
  src/app/features/compose/compose.component.ts
  src/app/features/post-status/post-status.component.html
  src/app/features/post-status/post-status.component.ts
  src/app/features/posts/posts.component.html
Due: prettier --write, eslint

Building out Instagram
  src/app/core/models/api.models.ts
  src/app/core/models/platforms.ts
  src/app/features/compose/compose.component.html
  src/app/features/compose/compose.component.spec.ts
  src/app/features/compose/compose.component.ts
Due: prettier --write, eslint

Building out Instagram (#266)
  src/app/core/models/api.models.ts
  src/app/core/models/platforms.ts
  src/app/features/compose/compose.component.html
  src/app/features/compose/compose.component.spec.ts
  src/app/features/compose/compose.component.ts
Due: prettier --write, eslint

Working on Toyhouse connector, improvements for Cloudflare handling
  src/app/core/models/api.models.ts
  src/app/features/compose/compose.component.html
  src/app/features/compose/compose.component.ts
Due: prettier --write, eslint

Advertising line - posted by PostyFox!
  src/app/app.routes.ts
  src/app/core/models/api.models.ts
  src/app/core/services/profile.service.ts
  src/app/features/settings/settings.component.html
  src/app/features/settings/settings.component.ts
  src/app/layout/main-layout/main-layout.component.html
Due: prettier --write, eslint

Fix tests, doh
  src/app/features/compose/compose.component.spec.ts
Due: prettier --write, eslint

feat: Advertising line - posted by PostyFox! (#267)
  src/app/app.routes.ts
  src/app/core/models/api.models.ts
  src/app/core/services/profile.service.ts
  src/app/features/compose/compose.component.spec.ts
  src/app/features/settings/settings.component.html
  src/app/features/settings/settings.component.ts
  src/app/layout/main-layout/main-layout.component.html
Due: prettier --write, eslint

Support for FA Journals
  src/app/core/models/api.models.ts
  src/app/core/models/platforms.ts
  src/app/features/compose/compose.component.html
  src/app/features/compose/compose.component.spec.ts
  src/app/features/compose/compose.component.ts
Due: prettier --write, eslint

feat: Support for FA Journals (#268)
  src/app/core/models/api.models.ts
  src/app/core/models/platforms.ts
  src/app/features/compose/compose.component.html
  src/app/features/compose/compose.component.spec.ts
  src/app/features/compose/compose.component.ts
Due: prettier --write, eslint

Twitter / X Connector
  src/app/core/models/api.models.ts
  src/app/core/models/platforms.spec.ts
  src/app/core/models/platforms.ts
  src/app/features/compose/compose.component.spec.ts
  src/app/features/connectors/connectors.component.html
  src/app/features/connectors/connectors.component.ts
Due: prettier --write, eslint

Twitter / X Connector (#269)
  src/app/core/models/api.models.ts
  src/app/core/models/platforms.spec.ts
  src/app/core/models/platforms.ts
  src/app/features/compose/compose.component.spec.ts
  src/app/features/connectors/connectors.component.html
  src/app/features/connectors/connectors.component.ts
Due: prettier --write, eslint

Admin interface for controlling connector user agents
  src/app/core/models/api.models.ts
  src/app/core/services/admin.service.ts
  src/app/features/admin/admin.component.html
  src/app/features/admin/admin.component.ts
Due: prettier --write, eslint

feat: Admin interface for controlling connector user agents
  src/app/core/models/api.models.ts
  src/app/core/services/admin.service.ts
  src/app/features/admin/admin.component.html
  src/app/features/admin/admin.component.ts
Due: prettier --write, eslint

WIP: Kofi connector. Also added the missing toyhouse platform entry (oops)
  src/app/core/models/platforms.spec.ts
  src/app/core/models/platforms.ts
Due: prettier --write, eslint

WIP: Kofi connector. Also added the missing toyhouse platform entry (oops) (#271)
  src/app/core/models/platforms.spec.ts
  src/app/core/models/platforms.ts
Due: prettier --write, eslint

Ability to invite other users to your account
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/core/interceptors/auth.interceptor.ts
  src/app/core/models/api.models.ts
  src/app/core/services/account.service.ts
  src/app/features/access/access.component.html
  src/app/features/access/access.component.ts
  src/app/layout/main-layout/main-layout.component.html
  src/app/layout/main-layout/main-layout.component.ts
Due: prettier --write, eslint

feat: Ability to invite other users to your account
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/core/interceptors/auth.interceptor.ts
  src/app/core/models/api.models.ts
  src/app/core/services/account.service.ts
  src/app/features/access/access.component.html
  src/app/features/access/access.component.ts
  src/app/layout/main-layout/main-layout.component.html
  src/app/layout/main-layout/main-layout.component.ts
Due: prettier --write, eslint

Remove server banners
  nginx.conf
Due: none

chore: Remove server banners
  nginx.conf
Due: none

chore: Dep updates
  package-lock.json
  package.json
Due: none

ToS
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/core/guards/terms.guard.spec.ts
  src/app/core/guards/terms.guard.ts
  src/app/core/interceptors/auth.interceptor.ts
  src/app/core/models/api.models.ts
  src/app/core/services/terms.service.ts
  src/app/features/admin/admin.component.html
  src/app/features/admin/admin.component.ts
  src/app/features/terms/terms.component.html
  src/app/features/terms/terms.component.ts
Due: prettier --write, eslint

feat: ToS
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/core/guards/terms.guard.spec.ts
  src/app/core/guards/terms.guard.ts
  src/app/core/interceptors/auth.interceptor.ts
  src/app/core/models/api.models.ts
  src/app/core/services/terms.service.ts
  src/app/features/admin/admin.component.html
  src/app/features/admin/admin.component.ts
  src/app/features/terms/terms.component.html
  src/app/features/terms/terms.component.ts
Due: prettier --write, eslint

Update icons
  public/apple-touch-icon.png
  public/favicon.ico
  public/logo-wordmark-dark.svg
  public/logo-wordmark.svg
  public/logo.png
  src/app/layout/main-layout/main-layout.component.html
  src/index.html
  src/styles/_materio-theme.scss
Due: prettier --write

chore: Update icons
  public/apple-touch-icon.png
  public/favicon.ico
  public/logo-wordmark-dark.svg
  public/logo-wordmark.svg
  public/logo.png
  src/app/layout/main-layout/main-layout.component.html
  src/index.html
  src/styles/_materio-theme.scss
Due: prettier --write
