Repository PostyFox/postyfox-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
    "*.ts": ["prettier --write", "eslint"],
    "*.js": ["prettier --write", "eslint"],
    "*.html": ["prettier --write"],
    "*.css": ["prettier --write"]
}

Angular CLI Update
  package-lock.json
  package.json
Due: none

Update Angular CDK
  package-lock.json
  package.json
Due: none

Update angular core
  package-lock.json
  package.json
Due: none

Package updates
  package-lock.json
  package.json
Due: none

Package update (#78)
  package-lock.json
  package.json
Due: none

Adding posting
  src/app/post/post.component.html
  src/app/post/post.component.ts
  src/app/services/api-modules.ts
  src/app/services/services.service.ts
  src/app/userservicedialog/userservicedialog.component.html
  src/environments/environment.dev.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, eslint

Adding posting (#83)
  src/app/post/post.component.html
  src/app/post/post.component.ts
  src/app/services/api-modules.ts
  src/app/services/services.service.ts
  src/app/userservicedialog/userservicedialog.component.html
  src/environments/environment.dev.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, eslint

Update Core
  package-lock.json
  package.json
Due: none

Other updates
  package-lock.json
  package.json
Due: none

Update CLI
  package-lock.json
  package.json
Due: none

Update CDK
  package-lock.json
  package.json
Due: none

Update the post format to match the API
  src/app/services/api-models.ts
  src/app/services/api-modules.ts
  src/app/services/services.service.ts
Due: prettier --write, eslint

Working on posting (#84)
  package-lock.json
  package.json
  src/app/services/api-models.ts
  src/app/services/api-modules.ts
  src/app/services/services.service.ts
Due: prettier --write, eslint

Fix linting warning
  src/app/userservicedialog/userservicedialog.component.html
Due: prettier --write

Update Angular CLI
  package-lock.json
  package.json
Due: none

Update Angular Core
  package-lock.json
  package.json
Due: none

Working on posting (#95)
  package-lock.json
  package.json
  src/app/userservicedialog/userservicedialog.component.html
Due: prettier --write

Updating to node 23
  .github/workflows/build.yml
Due: none

fix: upgrade marked from 15.0.9 to 15.0.11
  package-lock.json
  package.json
Due: none

fix: upgrade @angular/cdk from 19.2.11 to 19.2.14
  package-lock.json
  package.json
Due: none

fix: upgrade @angular/animations from 19.2.8 to 19.2.9
  package-lock.json
  package.json
Due: none

fix: upgrade @angular/common from 19.2.8 to 19.2.9
  package-lock.json
  package.json
Due: none

fix: upgrade @angular/compiler from 19.2.8 to 19.2.9
  package-lock.json
  package.json
Due: none

Working on posting (#126)
  .github/workflows/build.yml
Due: none

Pass one
  package-lock.json
  package.json
Due: none

Pass two
  package-lock.json
  package.json
Due: none

Updates for deps (#130)
  package-lock.json
  package.json
Due: none

feat: upgrade @angular-eslint/builder from 19.3.0 to 20.1.1
  package.json
Due: none

feat: upgrade @angular-eslint/eslint-plugin from 19.3.0 to 20.1.1
  package.json
Due: none

feat: upgrade @angular-eslint/eslint-plugin-template from 19.3.0 to 20.1.1
  package.json
Due: none

feat: upgrade @angular-eslint/schematics from 19.3.0 to 20.1.1
  package.json
Due: none

feat: upgrade @angular-eslint/template-parser from 19.3.0 to 20.1.1
  package.json
Due: none

Initial updates
  package-lock.json
  package.json
Due: none

Initial updates (#140)
  package-lock.json
  package.json
Due: none

Linting fixes
  src/app/app.component.ts
  src/app/home/home.component.ts
  src/app/post/post.component.ts
  src/app/services/api-token.service.ts
  src/app/services/form.service.ts
  src/app/services/services.service.ts
  src/app/services/templates.service.ts
  src/app/userservicedialog/userservicedialog.component.ts
Due: prettier --write, eslint

Linting fixes (#141)
  src/app/app.component.ts
  src/app/home/home.component.ts
  src/app/post/post.component.ts
  src/app/services/api-token.service.ts
  src/app/services/form.service.ts
  src/app/services/services.service.ts
  src/app/services/templates.service.ts
  src/app/userservicedialog/userservicedialog.component.ts
Due: prettier --write, eslint

Updates pass 1
  package-lock.json
  package.json
Due: none
