Repository PostyFox/postyfox-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
    "*.ts": ["prettier --write", "eslint"],
    "*.js": ["prettier --write", "eslint"],
    "*.html": ["prettier --write"],
    "*.css": ["prettier --write"]
}

chore: remove the todo app
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/auth-config.ts
  src/app/todo-edit/todo-edit.component.css
  src/app/todo-edit/todo-edit.component.html
  src/app/todo-edit/todo-edit.component.ts
  src/app/todo-view/todo-view.component.css
  src/app/todo-view/todo-view.component.html
  src/app/todo-view/todo-view.component.ts
  src/app/todo.service.ts
  src/favicon.ico
  src/favicon.png
  src/favicon.svg
  src/index.html
Due: prettier --write, eslint

chore: remove the todo list (#2)
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc
  .prettierrc
  angular.json
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/auth-config.ts
  src/app/todo-edit/todo-edit.component.css
  src/app/todo-edit/todo-edit.component.html
  src/app/todo-edit/todo-edit.component.ts
  src/app/todo-view/todo-view.component.css
  src/app/todo-view/todo-view.component.html
  src/app/todo-view/todo-view.component.ts
  src/app/todo.service.ts
  src/favicon.ico
  src/favicon.png
  src/favicon.svg
  src/index.html
Due: prettier --write, eslint

chore(gha): build, test and upload build artifacts
  .github/workflows/build.yml
Due: none

chore(gha): rename the build action and don't test
  .github/workflows/build.yml
Due: none

chore(gha): fix dist path
  .github/workflows/build.yml
Due: none

chore(gha): build and upload build artifacts (#4)
  .github/workflows/build.yml
Due: none

Update auth information due to tenant change
  src/app/auth-config.ts
Due: prettier --write, eslint

Update auth information due to tenant change (#6)
  src/app/auth-config.ts
Due: prettier --write, eslint

Create dependabot.yml
  .github/dependabot.yml
Due: none

feat: call the backend
  angular.json
  proxy.json
  src/app/app.module.ts
  src/app/auth-config.ts
  src/app/home/home.component.html
  src/app/home/home.component.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/main.ts
Due: prettier --write, eslint

Add scope to endpoints, add full endpoint address into environment.
  src/app/auth-config.ts
  src/environments/environment.ts
Due: prettier --write, eslint

Correct msal redirect, moved api call inside post login callback
  src/app/auth-config.ts
  src/app/home/home.component.ts
Due: prettier --write, eslint

Call the backend (#11)
  angular.json
  proxy.json
  src/app/app.module.ts
  src/app/auth-config.ts
  src/app/home/home.component.html
  src/app/home/home.component.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/main.ts
Due: prettier --write, eslint

Update service and token calls
  src/app/home/home.component.css
  src/app/home/home.component.html
  src/app/home/home.component.ts
  src/app/services/api-token.service.ts
  src/app/services/services.service.ts
Due: prettier --write, eslint

Updated API calls
  src/app/home/home.component.ts
  src/app/services/api-token.service.ts
  src/app/services/services.service.ts
Due: prettier --write, eslint

Updated api calls (#12)
  src/app/home/home.component.css
  src/app/home/home.component.html
  src/app/home/home.component.ts
  src/app/services/api-token.service.ts
  src/app/services/services.service.ts
Due: prettier --write, eslint

Add publish to the action
  .github/workflows/build.yml
Due: none

Adding workflow_dispatch
  .github/workflows/build.yml
Due: none

Publish (#14)
  .github/workflows/build.yml
Due: none

Now with overwrite
  .github/workflows/build.yml
Due: none

Now with overwrite (#15)
  .github/workflows/build.yml
Due: none

Build completes the dev version last and upload thats to the dev stage.
  .github/workflows/build.yml
  package.json
Due: none

Build completes the dev version last and upload thats to the dev stage. (#16)
  .github/workflows/build.yml
  package.json
Due: none

Typo fix
  .github/workflows/build.yml
Due: none

Typo fix (#17)
  .github/workflows/build.yml
Due: none

Disable the PR linked build trigger
  .github/workflows/build.yml
Due: none

Adding dev environment
  angular.json
  package.json
  src/app/auth-config.ts
  src/environments/environment.dev.ts
Due: prettier --write, eslint

splitting stages
  .github/workflows/build.yml
Due: none

Move az login
  .github/workflows/build.yml
Due: none

Add env endpoint to services
  src/app/services/api-token.service.ts
  src/app/services/services.service.ts
Due: prettier --write, eslint

Change tile service description
  src/app/home/home.component.html
Due: prettier --write

Add user services
  src/app/home/home.component.html
  src/app/home/home.component.ts
  src/app/services/services.service.ts
Due: prettier --write, eslint

Correct the reference to user Services
  src/app/home/home.component.html
Due: prettier --write

Fetch user defined posting templates
  src/app/home/home.component.html
  src/app/home/home.component.ts
  src/app/services/templates.service.ts
Due: prettier --write, eslint

Updated to use sass, added styles, added explations
  angular.json
  package.json
  src/app/home/home.component.html
  src/app/home/home.component.ts
  src/index.html
  src/styles.scss
Due: prettier --write, eslint

WIP Working on the editor
  angular.json
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/home/home.component.html
  src/app/post/post.component.html
  src/app/post/post.component.scss
  src/app/post/post.component.spec.ts
  src/app/post/post.component.ts
  src/index.html
  src/polyfills.ts
Due: prettier --write, eslint

Update Angular to 15
  angular.json
  package-lock.json
  package.json
  src/test.ts
  tsconfig.json
Due: prettier --write, eslint

Update rxjs
  package-lock.json
  package.json
Due: none

MSAL bump
  package-lock.json
  package.json
  tsconfig.app.json
  tsconfig.json
Due: none

Update Angular to 17
  angular.json
  package-lock.json
  package.json
Due: none
